.js-template-hidden {
  display: none;
}

.lang-en .display-only-in-fr,
.lang-fr .display-only-in-en {
  display: none;
}

.card-body img {
  max-width: 100%;
}

/* https://stackoverflow.com/a/7469136 */
.hub-multiline-button {
  white-space: normal;
  width: 100%;
}
