@import url("https://fonts.googleapis.com/css?family=Roboto Slab:300,400,500,500i,600,700,700i,800,800i,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,600,700,700i,800,800i,900&display=swap");
/* line 1, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_extend.scss */
.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* 1. Theme default css */
/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* line 6, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 15, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 19, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 23, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

/* line 28, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
a:focus {
  color: #fff;
  text-decoration: none;
}

/* line 32, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
  color: #B01C77;
}

/* line 39, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
a,
button {
  color: #0B3954;
  outline: medium none;
}

/* line 44, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
h1, h2, h3, h4, h5 {
  font-family: "Roboto Slab", sans-serif;
  color: #131313;
}

/* line 48, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

/* line 57, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 61, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
li {
  list-style: none;
}

/* line 64, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
p {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #0B3954;
  margin-bottom: 13px;
  font-family: "Roboto", sans-serif;
}

/* line 73, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

/* line 79, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 84, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 89, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 94, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 99, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 104, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 109, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 115, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
h3 {
  font-size: 24px;
}

/* line 119, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
.mb-65 {
  margin-bottom: 67px;
}

/* line 178, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* line 182, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
.pt-120 {
  padding-top: 120px;
}


/* line 244, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
.seperator {
  display: inline-block;
  width: 90px;
  height: 2px;
  background: #131313;
  margin-top: 30px;
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  /* line 244, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
  .seperator {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 244, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
  .seperator {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

/* line 262, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
.mb-95 {
  margin-bottom: 95px;
}

@media (max-width: 767px) {
  /* line 262, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
  .mb-95 {
    margin-bottom: 30px;
  }
}

/* line 269, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
.mb-80 {
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  /* line 269, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
  .mb-80 {
    margin-bottom: 30px;
  }
}

/* line 275, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
.mb-60 {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  /* line 275, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
  .mb-60 {
    margin-bottom: 30px;
  }
}

/* line 281, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_reset.scss */
.mb-20 {
  margin-bottom: 20px;
}

/* line 73, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_btn.scss */
.boxed-btn-white {
  background: transparent;
  color: #fff;
  display: inline-block;
  padding: 16px 43px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border: 2px solid #fff;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  /* line 73, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_btn.scss */
  .boxed-btn-white {
    padding: 14px 20px;
    font-size: 15px;
  }
}

/* line 91, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_btn.scss */
.boxed-btn-white:hover {
  background: #fff;
  color: #b01c77 !important;
  border: 2px solid #fff;
}

/* line 96, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_btn.scss */
.boxed-btn-white:focus {
  outline: none;
}

/* line 99, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_btn.scss */
.boxed-btn-white.large-width {
  width: 220px;
}

/* line 73, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_btn.scss */
.boxed-btn-white-2 {
  background: transparent;
  color: #B01C77;
  display: inline-block;
  padding: 16px 43px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border: 2px solid #b01c77;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  /* line 73, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_btn.scss */
  .boxed-btn-white-2 {
    padding: 14px 20px;
    font-size: 15px;
  }
}

/* line 91, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_btn.scss */
.boxed-btn-white-2:hover {
  background: #b01c77;
  color: #FFFFFF !important;
  border: 2px solid #b01c77;
}

/* line 96, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_btn.scss */
.boxed-btn-white-2:focus {
  outline: none;
}

/* line 99, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_btn.scss */
.boxed-btn-white-2.large-width {
  width: 220px;
}

/* line 2, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_section_title.scss */
.section_title .sub_heading {
  color: #c9c9c9;
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-bottom: 22px;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 2, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_section_title.scss */
  .section_title .sub_heading {
    margin-bottom: 10px;
  }
}

/* line 15, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_section_title.scss */
.section_title .sub_heading2 {
  color: #808080;
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-bottom: 22px;
}

@media (max-width: 767px) {
  /* line 15, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_section_title.scss */
  .section_title .sub_heading2 {
    margin-bottom: 5px;
  }
}

/* line 27, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_section_title.scss */
.section_title h3 {
  font-size: 46px;
  font-weight: 500;
  line-height: 58px;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  /* line 27, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_section_title.scss */
  .section_title h3 {
    font-size: 26px;
    line-height: 32px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 27, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_section_title.scss */
  .section_title h3 {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 0;
  }
}

/* line 43, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_section_title.scss */
.section_title.padding-right {
  padding-right: 76px;
}

@media (max-width: 767px) {
  /* line 43, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_section_title.scss */
  .section_title.padding-right {
    padding-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 43, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_section_title.scss */
  .section_title.padding-right {
    padding-right: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 43, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_section_title.scss */
  .section_title.padding-right {
    padding-right: 0;
  }
}

/* line 57, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_section_title.scss */
.serction_title_large h3 {
  font-size: 80px;
  font-weight: 700;
  color: #1F1F1F;
  display: inline-block;
  position: relative;
}

@media (max-width: 767px) {
  /* line 57, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_section_title.scss */
  .serction_title_large h3 {
    font-size: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 57, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_section_title.scss */
  .serction_title_large h3 {
    font-size: 45px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 57, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_section_title.scss */
  .serction_title_large h3 {
    font-size: 60px;
  }
}

/* line 72, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_section_title.scss */
.serction_title_large h3::before {
  position: absolute;
  right: -158px;
  content: "";
  width: 128px;
  height: 4px;
  background-image: url("../img/about/line.png");
  top: 50%;
  margin-bottom: 2px;
}

@media (max-width: 767px) {
  /* line 72, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_section_title.scss */
  .serction_title_large h3::before {
    width: 80px;
    right: -100px;
    display: none;
  }
}

@media (max-width: 767px) {
  /* line 4, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slick-nav.scss */
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
	}
}

/* line 13, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav {
  background: #0B3954;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  border-radius: 0px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 10px;
}

.slicknav_menu .slicknav_nav a {
  color: #FFFFFF;
}

/* line 28, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #b01c77;
}

/* line 32, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav a.active {
  color: #b01c77;
}

@media (max-width: 767px) {
  /* line 35, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slick-nav.scss */
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 35, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slick-nav.scss */
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

/* line 44, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
}

/* line 55, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}

@media (max-width: 767px) {
  /* line 12, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slick-nav.scss */
  .slicknav_menu {
    margin-right: 12px;
  }
}

/* line 72, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slick-nav.scss */
.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}

/* line 78, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slick-nav.scss */
.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -43px;
}

/* line 92, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slick-nav.scss */
.slicknav_icon-bar {
  background: #fff !important;
}

/* line 1, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

/* line 6, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .main-header-area {
  padding: 0 150px;
}

@media (max-width: 767px) {
  /* line 6, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
  .header-area .main-header-area {
    padding: 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 6, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
  .header-area .main-header-area {
    padding: 10px 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 6, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
  .header-area .main-header-area {
    padding: 0 50px;
  }
}

@media (max-width: 767px) {
  /* line 17, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img {
    padding-left: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 17, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img {
    padding-left: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 24, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img img {
    width: 100px;
  }
}

@media (max-width: 767px) {
  /* line 24, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img img {
    width: 120px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 24, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img img {
    width: 120px;
  }
}

/* line 36, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu {
  text-align: center;
  padding: 12px 0;
}

/* line 40, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
}

/* line 43, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a {
  color: #0B3954;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding: 35px 23px 35px 23px;
  font-family: "Roboto", sans-serif;
  position: relative;
  text-transform: uppercase;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 43, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a {
    padding: 35px 8px 35px 8px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 43, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a {
    padding: 35px 8px 35px 8px;
  }
}

/* line 61, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  /* line 61, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 61, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

/* line 92, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a:hover {
  color: #B01C77;
}

/* line 95, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a.active {
  color: #B01C77;
}

/* line 99, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 140%;
  background: #0b3954;
  width: 200px;
  z-index: 4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

/* line 111, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

/* line 113, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  font-weight: 300;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #fcfcfc;
}

/* line 119, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

/* line 123, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #b01c77;
}

/* line 128, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:hover > .submenu{
  opacity: 1;
  visibility: visible;
  top: 75%;
}

/* line 133, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 140, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 99;
  background: #0b3954;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  padding: 0 150px;
}

.header-area .main-header-area.sticky ul li a {
	color: #fff;
}

@media (max-width: 767px) {
  /* line 140, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky {
    padding: 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 140, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky {
    padding: 10px 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 140, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky {
    padding: 0 50px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 140, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky {
    padding: 0 50px;
  }
}

/* line 166, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

/* line 172, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .buy_ticket {
  text-align: right;
}

/* line 174, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
.header-area .buy_ticket a {
  text-transform: capitalize;
  letter-spacing: 0;
  font-size: 16px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 174, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_header.scss */
  .header-area .buy_ticket a {
    padding: 10px 20px;
  }
}

/* line 1, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
.slider_bg_1 {
  background-image: url("../img/banner/Asset 15.png");
}

.slider_bg_3 {
  background-image: url("../img/banner/Asset 31.png");
}

/* line 4, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
.slider_area {
  background-size: auto;
  background-position: center  top;
  background-repeat: no-repeat;
  padding-top: 200px;
  /*padding-bottom: 25px;*/
}
.slider_area_2 {
  background-size: cover;
  background-position: center  top;
  background-repeat: no-repeat;
  padding-top: 150px;
  /*padding-bottom: 25px;*/
}

@media (max-width: 767px) {
  /* line 4, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
	.slider_area {
	padding-top: 140px;
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 4, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
  .slider_area {
	 padding-top: 140px;
    padding-bottom: 30px;
  }
}

/* line 18, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
.slider_area .position_relv {
  position: relative;
}

/* line 22, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
.slider_area .title_text {
  position: relative;
  float: right;
  margin-bottom: 50px;
  z-index: 3;
  padding-top: 56px;
}

@media (max-width: 767px) {
  /* line 22, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
  .slider_area .title_text {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 22, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
  .slider_area .title_text {
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 22, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
  .slider_area .title_text {
    margin-bottom: 30px;
  }
}

/* line 36, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
.slider_area .title_text.title_text2 {
  margin-bottom: 60px;
  padding: 55px 8px 25px 0px;
}

@media (max-width: 767px) {
  /* line 36, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
  .slider_area .title_text.title_text2 {
    margin-bottom: 0;
    padding: 0;
  }
}

/* line 43, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
.slider_area .title_text.title_text2::before {
  display: none;
}

/* line 46, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
.slider_area .title_text.title_text2:after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  left: -14.5%;
  width: 120%;
  height: 120%;
  top: -7%;
  opacity: 0.6;
}

@media (max-width: 767px) {
  /* line 46, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
  .slider_area .title_text.title_text2:after {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 46, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
  .slider_area .title_text.title_text2:after {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 46, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
  .slider_area .title_text.title_text2:after {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 46, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
  .slider_area .title_text.title_text2:after {
    display: none;
  }
}

/* line 72, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
.slider_area .title_text::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  left: -14.5%;
  width: 120%;
  height: 120%;
  top: -7%;
  opacity: 0.6;
}

@media (max-width: 767px) {
  /* line 72, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
  .slider_area .title_text::before {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 72, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
  .slider_area .title_text::before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 72, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
  .slider_area .title_text::before {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 72, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
  .slider_area .title_text::before {
    display: none;
  }
}

/* line 97, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
.slider_area .title_text h3 {
  font-size: 54px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 70px;
  color: #0B3954;
  margin-bottom: 66px;
}

@media (max-width: 767px) {
  /* line 97, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
  .slider_area .title_text h3 {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 97, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
  .slider_area .title_text h3 {
    font-size: 46px;
    line-height: 55px;
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 97, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_slider.scss */
  .slider_area .title_text h3 {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 20px;
  }
}

@font-face {
	font-family: 'themify';
	src:url('../fonts/themify.eot?-fvbane');
	src:url('../fonts/themify.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../fonts/themify.woff?-fvbane') format('woff'),
		url('../fonts/themify.ttf?-fvbane') format('truetype'),
		url('../fonts/themify.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ti-"], [class*=" ti-"] {
	font-family: 'themify';
	/* speak: none; */
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.ti-location-pin:before {
	content: "\e693";
}
.ti-calendar:before {
	content: "\e6b6";
}
.ti-arrow-up:before {
	content: "\e627";
}


/* line 1, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
.about_area {
  padding-top: 10px;
  padding-bottom: 150px;
  position: relative;
}

/* line 5, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
.about_area .shape-1 {
  position: absolute;
  bottom: 15%;
  right: 0;
}


/* line 10, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
.about_area .shape-2 {
  position: absolute;
  bottom: 15%;
  right: 0;
}
.about_area .shape-2 img{
  max-width: 66%;
  float: right;
}

@media (min-width: 991px) and (max-width: 1200px) {
  /* line 10, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
  .about_area .shape-2 {
    bottom: 3%;
  }
}

@media (max-width: 767px) {
  /* line 1, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
  .about_area {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 1, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
  .about_area {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/* line 26, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
.about_area .about_thumb {
  position: relative;
  z-index: 2;
  padding-bottom: 15px;
}

/* line 29, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
.about_area .about_thumb img {
  width: 100%;
}

/* line 32, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
.about_area .about_thumb .exprience {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 40px 45px;
  background: #fff;
  text-align: center;
  left: 50%;
}

/* line 43, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
.about_area .about_thumb .exprience h1 {
  color: #131313;
  font-weight: 700;
  font-size: 80px;
  margin-bottom: 2px;
}

@media (max-width: 767px) {
  /* line 43, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
  .about_area .about_thumb .exprience h1 {
    font-size: 30px;
  }
}

/* line 52, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
.about_area .about_thumb .exprience span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #808080;
}

@media (max-width: 767px) {
  /* line 61, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
  .about_area .about_info {
    margin-top: 30px;
  }
}

/* line 65, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
.about_area .about_info .about_list {
  margin-bottom: 50px;
  margin-top: 34px;
}

/* line 68, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
.about_area .about_info .about_list li {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #808080;
  position: relative;
  padding-left: 35px;
  margin-bottom: 6px;
}

@media (max-width: 767px) {
  /* line 68, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
  .about_area .about_info .about_list li {
    font-size: 14px;
  }
}

/* line 79, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
.about_area .about_info .about_list li::before {
  content: "";
  background: #02c856;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* line 93, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
.about_area .about_info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #808080;
  margin-top: 30px;
  /*margin-bottom: 30px;*/
}

@media (max-width: 767px) {
  /* line 93, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
  .about_area .about_info p {
   margin-bottom: 30px;
  }
}

/* line 105, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_about.scss */
.about_area .about_info a {
  text-align: center;
}

/* line 1, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_resister.scss */
.resister_bg_1 {
  background-image: url("../img/banner/signupbg.png");
}

/* line 4, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_resister.scss */
.resister_book {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center  center;
  padding: 100px 0;
}

@media (max-width: 767px) {
  /* line 4, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_resister.scss */
  .resister_book {
    padding: 80px 0;
  }
}

/* line 13, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_resister.scss */
.resister_book .resister_text h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 43px;
  color: #0B3954;
  margin-bottom: 26px;
  text-align: center;
}

@media (max-width: 767px) {

}

@media (max-width: 767px) {
  /* line 23, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_resister.scss */
  .resister_book .resister_text h3 br {
    display: none;
  }
}

/* line 1, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
.faq_area {
  padding-top: 20px;
  padding-bottom: 100px;
}

@media (max-width: 767px) {
  /* line 1, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
  .faq_area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* line 8, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
.faq_area .accordion_heading {
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  /* line 8, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
  .faq_area .accordion_heading {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 8, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
  .faq_area .accordion_heading {
    margin-bottom: 30px;
  }
}

/* line 16, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
.faq_area .accordion_heading h3 {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  /* line 16, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
  .faq_area .accordion_heading h3 {
    font-size: 28px;
  }
}

/* line 30, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
.faq_area #accordion .card h5 button {
  font-size: 22px;
  font-weight: 400;
  color: #0b3954;
}
.faq_area #accordion .card h5 button:hover{
  font-size: 22px;
  font-weight: 400;
  color: #B01C77;
}

@media (max-width: 991px) {
  /* line 30, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
  .faq_area #accordion .card h5 button {
    font-size: 18px;
	white-space: normal;
  }
	.faq_area #accordion .card h5 button:hover {
    font-size: 18px;
  }
}

.faq_area #accordion .card h5 button.collapsed::before {
  content: "+";
  float: left;
  font-size: 35px;
  line-height: 30px;
  padding-right: 23px;
}

.faq_area #accordion .card h5 button:not(.collapsed)::before {
  content: "−";
  float: left;
  font-size: 35px;
  line-height: 30px;
  padding-right: 23px;
}

@media (max-width: 991px) {
	.faq_area #accordion .card h5 button.collapsed::before{
		font-size:25px;

	}
	.faq_area #accordion .card h5 button:not(.collapsed)::before{
		font-size:25px;
	}
}

/* line 46, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
.faq_area #accordion .card .card-body {
  padding: 0 0 40px 76px;
}

@media (max-width: 767px) {
  /* line 46, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
  .faq_area #accordion .card .card-body {
    padding: 0 20px 10px 20px;
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  /* line 46, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
  .faq_area #accordion .card .card-body {
    padding: 0 20px 10px 20px;
  }
}

/* line 54, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
.faq_area #accordion .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #99E1D9;
  border-radius: .25rem;
  background: #fff !important;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  /* line 54, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
  .faq_area #accordion .card {
    margin-bottom: 10px;
  }
}

/* line 77, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
.faq_area #accordion .card .card-header {
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: none;
  padding: 14px 0 16px 14px;
}

@media (max-width: 767px) {
  /* line 83, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
  .faq_area #accordion .card .card-header span {
    display: none;
  }
  .faq_area #accordion .card .card-header span.event-date,
  .faq_area #accordion .card .card-header span.event-title {
    display: block;
  }
}

.btn.change-collapse-target {
  text-align: left;
}

/* line 91, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
.faq_area .btn-link.focus, .faq_area .btn-link:focus {
  text-decoration: none;
  border-color: transparent;
  box-shadow: none;
}

/* line 96, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_faq.scss */
.faq_area .btn-link:hover {
  color: #B01C77;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}


/* line 1, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
.footer_bg_1 {
  background-image: url("../img/banner/footerbg.png");
}

/* line 4, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
.footer {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}

/* line 10, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
.footer .circle_ball {
  position: absolute;
  top: -124px;
  left: 110px;
}

/* line 15, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
.footer .footer_top {
  padding-top: 100px;
  padding-bottom: 75px;
}

@media (max-width: 767px) {
  /* line 15, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
  .footer .footer_top {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  /* line 22, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 22, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget {
    margin-bottom: 30px;
  }
}

/* line 29, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .footer_title {
  font-size: 22px;
  font-weight: 400;
  color: #0B3954;
  text-transform: capitalize;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  /* line 29, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_title {
    margin-bottom: 20px;
  }
}

/* line 39, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget .footer_logo {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  /* line 39, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
  .footer .footer_top .footer_widget .footer_logo {
    margin-bottom: 20px;
  }
}

/* line 49, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget p {
  color: #0B3954;
  line-height: 25px;
  font-size: 20px;
  font-weight: 300;
}

/* line 87, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget ul li a {
  font-size: 16px;
  color: #0B3954;
  line-height: 30px;
}

.footer .footer_top .footer_widget ul {
  padding-bottom: 15px;
}

/* line 91, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
.footer .footer_top .footer_widget ul li a:hover {
  color: #B01C77;
}

/* line 133, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
.footer .copy-right_text {
  padding-bottom: 30px;
}

/* line 135, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
.footer .copy-right_text .footer_border {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 30px;
}

/* line 139, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
.footer .copy-right_text .copy_right {
  font-size: 16px;
  color: #fff;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
  /* line 139, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
  .footer .copy-right_text .copy_right {
    font-size: 14px;
  }
}

/* line 147, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
.footer .copy-right_text .copy_right a {
  color: #fff;
}

/* line 152, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
.footer .socail_links {
  margin-top: 47px;
}

@media (max-width: 767px) {
  /* line 152, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
  .footer .socail_links {
    margin-top: 30px;
  }
}

/* line 158, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_footer.scss */
.footer .socail_links ul li {
  display: inline-block;
}

/* line 3, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_contact.scss */
.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 85, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_elements.scss */
b,
sup,
sub,
u,
del {
  color: #ff5e13;
}

/* line 93, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_elements.scss */
h1 {
  font-size: 36px;
}

/* line 97, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_elements.scss */
h2 {
  font-size: 30px;
}

/* line 101, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_elements.scss */
h3 {
  font-size: 24px;
}

/* line 105, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_elements.scss */
h4 {
  font-size: 18px;
}

/* line 109, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_elements.scss */
h5 {
  font-size: 16px;
}

/* line 113, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_elements.scss */
h6 {
  font-size: 14px;
}

/* line 117, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_elements.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

/* line 127, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_elements.scss */
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  color: #828bb2;
}

/* line 1086, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_elements.scss */
.mt-10 {
  margin-top: 10px;
}

/* line 1093, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_elements.scss */
.mb-30 {
  margin-bottom: 30px;
}

/* line 1096, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_elements.scss */
.mt-30 {
  margin-top: 30px;
}

.spacer {
	padding: 80px;
}

.conf_logo img {
	position: relative;
    float: right;
	max-width: 40%;
	top: -85px;
}

.center {
	text-align:center;
	display: block;
}

.faq_area p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #808080;
  margin-top: 30px;
  margin-bottom: 60px;
}

.ressources p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #808080;
  margin-top: 30px;
  margin-bottom: 60px;
}


.about_info ul li {
	list-style-type: circle;
	padding: 5px;
}



.about_area ul {
	padding: 0;
}

.resister_text {
	max-width: 90%;
	margin-left: auto;
	margin-right:auto;
}

.resister_text p {
	color: #0B3954;
	text-align: center;
}

.ressources {
	padding-top: 20px;
}

.ressources a {
	color: #B01C77;
}

.ressources a:hover {
	color: #0B3954;
}

.ti-heart:before {
	content: "\e634";
}

.ti-angle-down:before {
	content: "\e64b";
}

/* line 1, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_team.scss */
.team_area {
  padding-top: 50px;
  padding-bottom: 166px;
}

@media (max-width: 767px) {
  /* line 1, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_team.scss */
  .team_area {
    padding-top: 40px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 1, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_team.scss */
  .team_area {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

/* line 15, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_team.scss */
.team_area span {
  font-size: 14px;
}

.team_area .member .module p a {
	color: #b01c77;
}

.team_area .member .module p a:hover{
	color: #99E1D9;
}

/* line 69, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_team.scss */
.team_area .member h3 {
  font-size: 26px;
  color: #B01c77;
  font-weight: 500;
}

/* line 76, C:/Users/SPN Graphics/Desktop/CL September/209/HTML/scss/_team.scss */
.team_area .member p {
  color: #0B3954;
  font-weight: 400;
  font-size: 16px;
}

.module .collapse, .module .collapsing {
  height: 4.8rem;  /* [NUM_OF_LINES] x [LINE_HEIGHT] */
}

.module .collapse {
  position: relative;  /* For ...'s content absolute positioning */
  display: block;
  overflow: hidden;
}

.module .collapse.show {
  height: auto;  /* You need to reset the height when not collapsed */
}

.module .collapse.show::before {
  display: none;  /* Of course you don't want to display ... */
}

.module .plus_button a.collapsed::after {
  content: "+";
  float: right;
  font-size: 30px;
}

.module .plus_button a:not(.collapsed)::after {
  content: "−";
  float: right;
  font-size: 30px;
}

.role {
	font-size: 16px;
	color: #99E1D9;
	font-style: italic;

}

.team_area .member img {
	float:right;
	position: relative;
	width: 150px;
	height: 150px;
	padding: 5px;
	object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .team_area .member img {
        float: none;
    }
}


@media only screen and (max-width: 991px) {

}

.member {
	padding-bottom: 50px;
}

ol li {
	list-style-type: decimal;
	font-size: 24px;
	font-family: "roboto Slab", sans-serif;
	font-weight: 700;
	color: #b01c77;
}

ol {
	padding-top: 50px;
}

.header-element img {
	max-width: 600px;
	float: left;
}

@media (max-width:1200px){
	.header-element img {
	max-width: 70%;
 }
}



.title_text_smaller h3{
  text-align: center;
  font-size: 45px;
  font-weight: 800;
  text-transform: none;
  line-height: 55px;
  color: #0B3954;
  margin-bottom: 66px;
}

.splash_area {
  background-size: cover;
  background-position: center  center;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 245px;
}

.slider_bg_2 {
	background-image: url("../img/banner/Asset 30.png");
}

.footer .footer_top p a {
	color: #b01c77;
}
.footer .footer_top p a:hover{
	color: #0b3954;
}

.resister_book .resister_text a {
	color: #b01c77;
}
.resister_book .resister_text a:hover {
	color: #0b3954;
}

.faq_area .card button img {
	max-width: 25px;
	padding-right: 8px;
}

.about_area img {
	max-width: 550px;
}

.splash_logo img {
	display: block;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

/** Custom hub styles */

.menu-item-not-a-link {
  font-weight: 500;
}
